.layout.auth {
  /* background-image is added in the Layout.tsx file, since Vite doesn't process relative paths in production */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.mainWrapper {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}
