.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout.auth {
  background: url('/images/auth-bg-image.png') no-repeat center top / cover;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
