.layout {
  width: 100%;
  min-height: 100vh;
}

.layout.auth {
  background: url('../../assets/images/auth-bg-image.png') no-repeat center top / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
