.languagePageTitle {
  font-size: var(--text-3xl);
}

.filtersBar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.filtersBarContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filtersBarDropdown {
  display: flex;
  flex-direction: column;
}

.filtersBarLabel {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.noMovies {
  margin-top: 2rem;
  color: #666;
  font-size: 1rem;
}

.languagePage {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}
