.formWrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  margin: 0 auto;
  width: 450px;
  padding: var(--space-12) var(--space-18);
  border-radius: var(--radius-base);
  background-color: var(--transparent-black-60);
}

.formTitle {
  font-size: var(--text-3-5xl);
}

.mb16 {
  margin-bottom: var(--space-4);
}

.alreadyHaveAnAccountText {
  color: var(--transparent-white-70);
}

.alreadyHaveAnAccountLink {
  font-weight: var(--font-medium);
  color: var(--primary-white);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.errorMessage {
  color: var(--error);
  font-size: var(--text-xs);
  font-weight: var(--font-normal);
  margin-top: var(--space-2);
}
