.rating {
  display: inline-block;
  font-size: var(--text-base);
  font-family: var(--font-family);
  color: var(--grey-50);
  line-height: var(--leading-none);
  border: 1px solid var(--grey-50);
  padding: var(--space-1) var(--space-1-6);
  width: fit-content;
  text-align: center;
  background-color: transparent;
}
