.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 48px;
  max-width: 1264px;
  font-size: var(--text-2xl);
  line-height: 30px;
  color: var(--text-primary);
  padding: 80px;
}

.accordionItem {
  width: 100%;
  background: #2d2d2d;
  cursor: pointer;
  & summary {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    transition:
      margin 0.5s ease-out,
      var(--transition-base);
    list-style: none;
    &:hover {
      background: var(--grey-400);
    }
  }
}

.accordionItem[open] summary {
  margin-bottom: 10px;
  & .closeLine:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  & .closeLine:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.close {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  cursor: pointer;
}

.closeLine {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.5s ease-out;
  &:first-child {
    transform: translateY(-50%) rotate(180deg);
  }
  &:last-child {
    transform: translateY(-50%) rotate(90deg);
  }
}

.accordionContent {
  padding: 24px 16px;
}
