.videoPlayerWrapper {
  display: inline-block;
  position: relative;
  cursor: default;
}

.hideMouse {
  cursor: none;
}

.small {
  width: 320px;
  height: 180px;
}

.medium {
  width: 480px;
  height: 270px;
}

.large {
  width: 640px;
  height: 360px;
}

.full {
  width: 100%;
  height: 100%;
}
