.container {
    background: radial-gradient(circle at 50% 20%, #141414, #000);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 0 0 20px 0;
}

.list {
  display: flex;
  align-items: center;
  gap: 100px;
  list-style: none;
  font-size: 2.25rem;

}

.item {
  text-decoration: none;
}

.profileBtn {
  background: linear-gradient(180deg, rgba(220, 6, 6, 0.882), rgb(255, 0, 0));
  cursor: pointer;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
