.landingSection {
  width: 100%;
}

.landingSection.first {
  padding-top: var(--header-height);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/images/hero-image.png') no-repeat center / cover;
}

.accordion {
  margin-top: 10rem;
  margin-inline: auto;
  max-width: 1264px;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.text {
  text-align: center;
  margin: 5rem 0 2rem 0;
  text-wrap: pretty;
  font-size: var(--text-xl);
  font-weight: var(--space-2);
}

.emailContainer {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2);
  justify-content: center;
  margin-bottom: 5rem;
}
