.landingSection {
  width: 100%;
}

.landingSection.first {
  padding-top: var(--header-height);
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}