.landingSection {
  width: 100%;
}

.landingSection.first {
  padding-top: var(--header-height);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
