.iconButton {
  /* Base button styles */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-circle);
  border: 2px solid var(--grey-500);
  transition: var(--transition-base);
}

/* Filled + Primary */
.iconButton--filled.iconButton--primary {
  background: var(--primary-white);
  border-color: transparent;
}

/* Filled + Secondary */
.iconButton--filled.iconButton--secondary {
  background: var(--grey-50);
  border-color: transparent;
}

/* Outlined + Primary */
.iconButton--outlined.iconButton--primary {
  background: transparent;
  border-color: var(--grey-500);
}

/* Outlined + Secondary */
.iconButton--outlined.iconButton--secondary {
  background: transparent;
  border-color: var(--primary-white);
}

.iconButton--disabled {
  /* Disabled state styles */
  opacity: 70%;
  border-color: var(--grey-350);
}
 
.iconButton:hover {
  /* Hovered state styles */
  cursor: pointer;
  opacity: 90%;
  transform: scale(1.02);
}

.iconButton:active {
  /* Active state styles */
  transform: scale(.9);
}

.iconButton--selected {
  /* Selected state styles */
  background-color: var(--grey-500);
}

.iconButton--small {
  /* Small size styles */
  height: var(--text-3xl);
  width: var(--text-3xl);
}

.iconButton--medium {
  /* Medium size styles */
  height: var(--text-4xl);
  width: var(--text-4xl); 
}

.iconButton--large {
  /* Large size styles */
  height: var(--text-5xl);
  width: var(--text-5xl); 
}

.icon {
  /* Base SVG Icon styles */
  color: var(--primary-black);
  max-width: var(--text-3xl);
  max-height: var(--text-3xl);
} 

.icon--small {
  /* Small SVG size styles */
  width: var(--text-l);
  height: var(--text-l);
}

.icon--medium {
  /* Medium SVG size styles */
  width: var(--text-xl);
  height: var(--text-xl);
}

.icon--large {
  /* Large SVG size styles */
  width: var(--text-2xl);
  height: var(--text-2xl);
}

.icon--filled.icon--primary {
  /* Filled variant styles */
  color: var(--primary-black);
}

.icon--filled.icon--secondary {
  /* Filled variant styles */
  color: var(--grey-500);
}

.icon--outlined.icon--primary {
  /* Filled variant styles */
  color: var(--primary-white);
}

.icon--outlined.icon--secondary {
  /* Filled variant styles */
  color: var(--grey-500);
}
