.videoControl {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: var(--space-2);

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.gridWrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: relative;
}

.controlButtonWrapper {
  display: flex;
  gap: 1rem;
}

span {
  place-content: center;
  text-align: center;
}

.playbackSpeedWrapper {
  position: absolute;
  z-index: 100;
  bottom: 100%;
  right: 0;
}
