.loadingContainer {
    display: flex;
    height: 50vh;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}

/**** square styles ****/
.square {
    height: 1.5em;
    width: 1.5em;
    background: var(--bg-primary);
    margin: 0.5em;
    animation: rotate 1.5s infinite;
    transform: rotate(45deg);
}

.square1 {
    background: var(--primary-red);
}

.square2 {
    background: var( --secondary-blue-100);
}

.square3 {
    background: var(--secondary-green);
}

@keyframes rotate  {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(45deg);
    }
}
.playerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.videoTitle {
  margin-top: 1rem;
  font-size: var(--text-xl);
}

.text {
  font-size: --text-2xl;
  margin-top: 2rem;
}
