.intro {
  min-height: 810px;
  width: var(--normalize-width);
  position: relative;
  padding-top: 155px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 1;
}

.container {
  max-width: var(--content-block-max-width-desktop);
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  max-width: 518px;
  display: flex;
  flex-direction: column;
  padding-bottom: 223px;
  gap: var(--text-xl);
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  svg {
    height: var(--normalize-height);
    max-width: 30px;
  }
  p {
    text-transform: uppercase;
    color: var(--text-secondary);
    letter-spacing: var(--space-1);
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
  }
}

.mainHeader {
  text-align: center;
  width: max-content;
  line-height: var(--space-12);
  font-size: var(--text-6xl);
  text-transform: uppercase;
  font-weight: var(--font-extrabold);
}

.buttonsWrapper {
  display: flex;
  gap: var(--space-2-5);
}

.ratingWrapper {
  position: absolute;
  bottom: 180px;
  right: 0;
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.replay {
  width: 35px;
  height: 35px;
  color: var(--primary-white);
}

.rating {
  div {
    position: relative;
    padding: 9px 49px 9px 14px;
    border: none;
    background: rgba(51, 51, 51, 0.6);
    color: var(--primary-white);
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: var(--space-1);
      height: var(--normalize-height);
      background: var(--primary-white);
    }
  }
}

.carousels {
  position: relative;
}

.wrapCarousel {
  display: flex;
  flex-direction: column;
  gap: var(--space-11);
  position: absolute;
  z-index: 999;
  top: -170px;
  > div:first-child {
    background: none;
    background: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 0%,
      rgba(20, 20, 20, 0.15) 20%,
      rgba(20, 20, 20, 0.35) 40%,
      rgba(20, 20, 20, 0.58) 70%,
      rgba(20, 20, 20, 1) 100%
    );
  }

  &:last-child {
    padding-bottom: 45px;
  }
}
/**/
