.intro {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 86px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /* padding-bottom: 223px; */
}
