.overlay {
  position: fixed;
  z-index: var(--z-modal-backdrop);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: var(--transition-base);
  background-color: var(--bg-overlay);
  -webkit-text-size-adjust: 100%;
}
