.ratingGroup {
  /* Base rating group styles */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  background-color: var(--grey-650);
}

.ratingGroup--small {
  padding: var(--space-1);
  border-radius: var(--radius-pill-sm);
}

.ratingGroup--medium {
  padding: var(--space-1-5);
  border-radius: var(--radius-pill-md);
}

.ratingGroup--large {
  padding: var(--space-2);
  border-radius: var(--radius-pill-lg);
}
