.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--primary-white);
  gap: var(--space-6);
  margin-top: var(--space-32);
}
.textL {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  line-height: 62px;
  text-align: center;
}
.textM {
  font-size: var(--text-2xl);
  font-weight: var(--font-normal);
  line-height: var(--leading-tight);
  text-align: center;
}
.textS {
  font-size: var(--text-xl);
  font-weight: var(--font-normal);
  line-height: var(--leading-normal);
  text-align: center;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
}
