.formWrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  margin: 0 auto;
  width: 450px;
  padding: var(--space-12) var(--space-18);
  border-radius: var(--radius-base);
  background-color: var(--transparent-black-60);
}

.formTitle {
  font-size: var(--text-3-5xl);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.mb16 {
  margin-bottom: var(--space-4);
}

.or {
  display: block;
  color: var(--transparent-white-70);
  text-align: center;
}

.forgotPassword {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;

  &:hover:not(:disabled) {
    background-color: transparent;
  }
}

.or,
.forgotPassword {
  margin-bottom: var(--space-4);
  font-size: var(--text-base);
  font-weight: var(--font-normal);
}

.signInCodeButton {
  margin-bottom: var(--space-4);
  background-color: var(--transparent-white-20);
}

.newToRediflix {
  margin: var(--space-4) 0;
}

.newToRediflixText {
  color: var(--transparent-white-70);
}

.newToRediflixLink {
  font-weight: var(--font-medium);
  color: var(--primary-white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.recaptchaText {
  font-size: var(--text-xs);
  font-weight: var(--font-normal);
  color: var(--grey-200);
}

.recaptchaTextLink {
  color: var(--secondary-blue-100);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
