.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--space-8);
}

.header.auth,
.header.public {
  position: absolute;
}

.header.auth .container,
.header.public .container {
  max-width: 1200px;
}

.header.private .container {
  max-width: 100%;
}

.header.private {
  background: linear-gradient(180deg, var(--transparent-black-70) 12.5%, transparent 100%);
  transition: background-color var(--transition-slow);
}

.header.private.scrolled {
  background: var(--bg-primary);
}

.signInLink {
  flex-shrink: 0;
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--text-primary);
  display: flex;
  align-items: center;
  padding: var(--space-1) var(--space-6);
  border-radius: var(--radius-base);
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  font-size: var(--text-base);
  transition: all var(--transition-base);
}

.signInLink:hover:not(:disabled) {
  background-color: var(--secondary-red-200);
}

.logo + .navigation {
  margin-left: var(--space-12);
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-right: 12px;
}

.iconButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-4);
}

.iconButtons + .userProfile {
  margin-left: var(--space-4);
}

.userProfile {
  flex-shrink: 0;
}

.profileButton {
  padding: 0;
}

.profileButton,
.iconButton,
.profileButton:hover:not(:disabled),
.iconButton:hover:not(:disabled) {
  background: transparent;
}
