.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.headerPublic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 21px;
  height: 92px;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.headerPublic .wrapper {
  max-width: 100%;
  width: 100%;
}

.header {
  width: 100%;
  max-width: 1200px;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signInLink {
  flex-shrink: 0;
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--text-primary);
  display: flex;
  align-items: center;
  padding: var(--space-1) var(--space-6);
  height: 32px;
  border-radius: var(--radius-base);
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  font-size: var(--text-base);
  transition: all var(--transition-base);
}

.signInLink:hover:hover:not(:disabled) {
  background-color: var(--secondary-red-200);
}

.logo {
  height: 40px;
  margin-left: 12px;
  flex-shrink: 0;
}

.logo + .navigation {
  margin-left: var(--space-12);
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-right: 12px;
}

.header button,
.headerPublic button {
  background: transparent;
  cursor: pointer;
}

.header button:hover:not(:disabled),
.headerPublic button:hover:not(:disabled) {
  background: transparent;
}

.iconButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-4);
}

.userProfile {
  flex-shrink: 0;
}
