name: Build

on:
  pull_request:
    paths:
      - "frontend/**"
      - "backend/**"
    types: [opened, reopened, synchronize]
  push:
    paths:
      - "frontend/**"
      - "backend/**"
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Set up node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci
        working-directory: frontend

      - name: Run ESLint
        run: npx eslint .
        working-directory: frontend

      - name: Run Prettier
        run: npx prettier --check .
        working-directory: frontend

      - name: Run Build
        run: npm run build
        working-directory: frontend

  build-backend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Set up node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install Dependencies
        run: npm ci
        working-directory: backend

      - name: Run ESLint
        run: npx eslint .
        working-directory: backend

      - name: Run Prettier
        run: npx prettier --check .
        working-directory: backend

      - name: Run Build
        run: npm run build
        working-directory: backend
